.navbar {
    overflow: visible;
    background-color: #212121;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-logo {
    float: left;
    padding: 5px;
    position: absolute;
}
.navbar-element {
    float: right;
    transition: background 0.15s linear;
    cursor: pointer;
    text-decoration: none;
    margin-left: 20px;
}
.navbar-element:hover {
    background: #99999960;
    transition: background 0.15s linear;
}
.navbar-element-text {
    text-align: center;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    color: #f2f2f2;
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
    padding-top: 19px;
    padding-bottom: 19px;
}
.navbar-element-image {
    height: 30px;
    vertical-align: middle;
    padding-left: 10px;
    display: inline-block;
}
.dropdown {
    overflow: hidden;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7f7f7;
    box-shadow: 4px 8px 20px 2px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 15px 10px 10px;
    text-decoration: none;
    min-width: 200px;
    display: block;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    transition: background 0.15s linear;
}
.navbar-dropdown-text {
    text-align: center;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    color: black;
    display: inline-block;
    padding-left: 10px;
}
.navbar-dropdown-image {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    display: inline-block;
}
.dropdown-content a:hover {
    background: #c0c0c060;
    transition: background 0.15s linear;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
