.wiki {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
.wiki_pages {
    flex-direction: column;
    background-color: #c4c4c4;
    text-align: left;
    padding: 60px 30px;
}
.wiki_article {
    flex-direction: column;
    padding: 60px 50px 25px;
    width: 100%;
}
flex {
    display: flex;
}