.wiki {
    display: flex;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    height: 100%;
}
.wiki_pages {
    flex-direction: row;
    background-color: #c4c4c4;
    width: clamp(200px, 40%, 400px);
    text-align: left;
    padding-left: 20px;
    padding-top: 60px;
}
.wiki_article {
    flex-direction: column;
    padding: 60px 50px 25px;
}