@font-face {
    font-family: 'ibm_plex';
    src: url('../fonts/ibmplexserif-medium-webfont.eot');
    src: url('../fonts/ibmplexserif-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibmplexserif-medium-webfont.woff2') format('woff2'),
         url('../fonts/ibmplexserif-medium-webfont.woff') format('woff'),
         url('../fonts/ibmplexserif-medium-webfont.ttf') format('truetype'),
         url('../fonts/ibmplexserif-medium-webfont.svg#ibm_plex_serifmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

img.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1.a{
    font-family: 'Georgia', 'Times New Roman', 'Times, serif';
    font-size: 60;
    text-align: center;
    color: white;
}
p.a{
    font-family: "ibm_plex";
    font-size: 20;
    text-align: center;
    color: white;
}
.inline-block{
    display: inline-block;
}
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
.main {
    padding: 16px;
    margin-top: 30px;
}
body {
    background: #888888;
    margin: 0;
}