@font-face {
    font-family: 'ibm_plex';
    src: url('../fonts/ibmplexserif-medium-webfont.eot');
    src: url('../fonts/ibmplexserif-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibmplexserif-medium-webfont.woff2') format('woff2'),
         url('../fonts/ibmplexserif-medium-webfont.woff') format('woff'),
         url('../fonts/ibmplexserif-medium-webfont.ttf') format('truetype'),
         url('../fonts/ibmplexserif-medium-webfont.svg#ibm_plex_serifmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
.homepage-image-container {
    position: relative;
    text-align: center;
    color: white;
    font-family: "ibm_plex";
    vertical-align: middle;
}
.homepage-image {
    background-image: url(/images/homepage_image.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    filter: blur(2px);
    height: 150px;
    margin: -3px -10px -60px -10px;
}
.centered-image-text {
    width: 75%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered-image-text h1 {
    font-size: 25px;
    margin: 0;
}
.centered-image-text p {
    font-size: 15px;
    margin: 0;
}
@media all and (min-width: 675px) {
    .centered-image-text h1 {
        font-size: 50px;
    }
    .centered-image-text p {
        font-size: 20px;
    }
}
.main {
    display: block;
    margin-top: 60px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.main h1 {
    margin: 10px 0px;
}
body {
    background: white;
    margin: 0;
}